# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# PyInstaller
*.spec
/VERSION

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Coverage
htmlcov/
.coverage
coverage.xml